<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Fitness Tracker</title>
</head>
<body>
    <h1>Fuck</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>