@model IQueryable<Workout>

@foreach (var w in Model) {
    <div>
        <h3>Lift: @w.Lift</h3>
        <ul>
            <li>Reps: @w.Reps</li>
            <li>Weight: @w.Weight</li>
            <li>Date: @w.WorkoutDate</li>
        </ul>
    </div>
}