@model WorkoutViewModel

<form asp-action="@Model.Action" method="post">
    <div class="form-group">
        <label asp-for="Workout.WorkoutID"></label>
        <input asp-for="Workout.WorkoutID"  class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="Workout.Lift"></label>
        <input asp-for="Workout.Lift"  class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Workout.Reps"></label>
        <input asp-for="Workout.Reps"  class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Workout.Weight"></label>
        <input asp-for="Workout.Weight"  class="form-control"/>
    </div>
    @if (Model.ShowAction) {
        <button type="submit" type="button" class="btn btn-primary">@Model.Action</button>
        <br>
    }
    <a asp-action="Index"><< Back</a>
</form>